html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.navbar {
  height: 7%;
}

.footer {
  height: 5%;
}

.page {
  height: 88%;
}


.light {
  background-color: #185487;
  color: #ffffff;
}


/* Dark theme */

.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}


/* Removes the small arrows on number input fields */
/* Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}